/*colors*/
body {
  font-family: 'Roboto', sans-serif; }

.button-explore {
  display: inline-block;
  border: 1px solid #ffe600;
  padding: 25px 85px;
  margin: 0 auto 50px;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .button-explore {
      padding: 15px 50px;
      margin-bottom: 30px; } }

.navbar {
  padding: 35px 0;
  border-bottom: 1px solid #ffe600; }
  @media screen and (max-width: 768px) {
    .navbar {
      padding: 20px 0; } }
  .navbar:after {
    content: '';
    display: block;
    clear: both; }
  .navbar-brand {
    display: inline-block;
    width: 186px; }
    .navbar-brand img {
      display: inline-block;
      width: 100%;
      height: auto; }
  .navbar-nav {
    margin: 0;
    float: right;
    list-style-type: none;
    padding: 0; }
    .navbar-nav > li {
      display: inline-block;
      vertical-align: top;
      margin-right: 25px;
      padding: 15px 20px;
      border: 1px solid #fff;
      cursor: pointer;
      color: #8e8e8e;
      font-weight: 400; }
      @media screen and (max-width: 990px) {
        .navbar-nav > li {
          margin-right: 5px;
          padding: 10px 15px; } }
      .navbar-nav > li:last-child {
        margin-right: 0; }
      .navbar-nav > li:hover {
        border-color: #ffe600;
        color: #131316; }
      .navbar-nav > li:focus {
        border-color: #fff;
        color: #8e8e8e; }
    .navbar-nav .active {
      border-color: #ffe600;
      color: #131316;
      cursor: default; }

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

h1 {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 115px; }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 30px;
      margin-bottom: 35px; } }

.wrapper {
  max-width: 1920px;
  margin: 0 auto; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px; }

.bg-white {
  background-color: #ffffff; }

.bg-yellow {
  background-color: #ffeb33; }

.bg-grey {
  background-color: #424245; }

.bg-lightgrey {
  background-color: #89898b; }

.bg-black {
  background-color: #131316; }

.block {
  padding: 120px 0; }
  @media screen and (max-width: 768px) {
    .block {
      padding: 60px 0; } }
  .block-fill-height {
    height: 100vh;
    display: table;
    width: 100%; }
  .block-heading {
    font-size: 25px;
    margin-bottom: 34px; }
  .block-description {
    font-size: 15px;
    margin-bottom: 120px; }
  .block-header {
    height: 1%;
    display: table-header-group; }
  .block-body {
    display: table-row-group; }
  .block-footer {
    display: table-footer-group; }
  .block-inner {
    padding: 10px 0;
    display: table-cell;
    vertical-align: middle; }
  .block-big-padding {
    padding: 250px 0; }
    @media screen and (max-width: 768px) {
      .block-big-padding {
        padding: 90px 0; } }
  .block-no-padding {
    padding: 0; }
  .block-no-margin-bottom {
    margin-bottom: 0; }
  .block-margin-bottom-52 {
    margin-bottom: 52px; }

.text {
  line-height: 1.8; }
  .text-center {
    text-align: center; }
  .text-uppercase {
    text-transform: uppercase; }
  .text-yellow {
    color: #ffe600; }
  .text-black {
    color: #131316; }
  .text-white {
    color: #fff; }
  .text-grey {
    color: #8e8e8e; }
  .text-italic {
    font-style: italic; }
  .text-normal {
    font-weight: 400; }
  .text-light {
    font-weight: 300; }

.logo-sign-holder {
  width: 89px;
  margin: 0 auto 56px; }
  @media screen and (max-width: 768px) {
    .logo-sign-holder {
      margin-bottom: 30px; } }
  .logo-sign-holder img {
    display: inline-block;
    width: 100%;
    height: auto; }

.arrow-down {
  width: 38px;
  margin: 0 auto; }
  .arrow-down img {
    display: inline-block;
    width: 100%;
    height: auto;
    cursor: pointer; }

.features-holder {
  font-size: 0; }

.feature {
  box-sizing: border-box;
  font-size: 1rem;
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
  padding: 0 50px; }
  @media screen and (max-width: 768px) {
    .feature {
      width: 100%;
      margin-bottom: 40px; } }
  .feature-heading {
    clear: both;
    margin-bottom: 40px;
    display: table; }
    @media screen and (max-width: 768px) {
      .feature-heading {
        margin-bottom: 20px; } }
  .feature-number {
    float: left;
    color: #ffe600;
    border-right: 1px solid #ffe600;
    padding: 10px 15px 10px 0;
    font-size: 25px;
    margin-right: 15px; }
  .feature-title {
    display: table-cell;
    vertical-align: middle; }

.clients-holder {
  font-size: 0; }

.client {
  display: inline-block;
  width: 16.66%;
  text-align: center;
  vertical-align: bottom; }
  @media screen and (max-width: 768px) {
    .client {
      width: 33.33%;
      margin-bottom: 40px; } }
  @media screen and (max-width: 480px) {
    .client {
      width: 50%;
      margin-bottom: 40px; } }

.footer {
  background-color: #131316;
  padding: 41px 0; }
  .footer p {
    color: #ffe600;
    font-size: 13px; }
  .footer .socialicons-holder {
    float: right; }
