.navbar {
	padding: 35px 0;
	@media screen and (max-width: 768px) {
		padding: 20px 0;
	}
	border-bottom: 1px solid #ffe600;
	&:after {
		content: '';
		display: block;
		clear: both;
	}

	&-brand {
		display: inline-block;
		width: 186px;

		img {
			display: inline-block;
			width: 100%;
			height: auto;
		}
	}

	&-nav {
		float: right;
		list-style-type: none;
		padding: 0;
		// margin: 0;
		// @media screen and (max-width: 768px) {
		// 	display: none;
		// }
		> li {
			display: inline-block;
			vertical-align: top;
			margin-right: 25px;
			padding: 15px 20px;
			@media screen and (max-width: 990px) {
				margin-right: 5px;
				padding: 10px 15px;
			}
			border: 1px solid #fff;
			cursor: pointer;
			color: $textgrey;
			font-weight: 400;
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				border-color: #ffe600;
				color: $textblack;
			}
		}
		.active {
			border-color: #ffe600;
			color: $textblack;
			cursor: default;
		}
	}
	&-item {
	}
	&-toggler {

	}
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}