.navbar {
	padding: 35px 0;
	@media screen and (max-width: 768px) {
		padding: 20px 0;
	}
	border-bottom: 1px solid #ffe600;
	&:after {
		content: '';
		display: block;
		clear: both;
	}

	&-brand {
		display: inline-block;
		width: 186px;

		img {
			display: inline-block;
			width: 100%;
			height: auto;
		}
	}

	&-nav {
		margin: 0;
		float: right;
		list-style-type: none;
		padding: 0;
		// margin: 0;
		// @media screen and (max-width: 768px) {
		// 	display: none;
		// }
		> li {
			display: inline-block;
			vertical-align: top;
			margin-right: 25px;
			padding: 15px 20px;
			text-transform: uppercase;
			@media screen and (max-width: 990px) {
				margin-right: 5px;
				padding: 10px 15px;
			}
			border: 1px solid #fff;
			cursor: pointer;
			color: $textgrey;
			font-weight: 400;
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				border-color: #ffe600;
				color: $textblack;
				transition: 0.3s;
			}
			&:focus {
				border-color: #fff;
				color: $textgrey;
			}
		}
		.active {
			border-color: #ffe600;
			color: $textblack;
			cursor: default;
			transition: 0.3s;
		}
	}
	&-item {
	}
	&-toggler {

	}
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

.portfolio {
	&-holder {
		font-size: 0;
	}

	&-item {
		width: 100%;
		transform-style: preserve-3d;
  	transition: all 0.5s linear;

		&-holder {
			perspective: 1000;
			position: relative;
			z-index: 1;
			box-sizing: border-box;
			font-size: 1rem;
			display: inline-block;
			width: 25%;
			padding: 10px;

			&:hover .portfolio-item {
				transform: rotateY(180deg);
			}
		}


		&-front {
			position: absolute;
			backface-visibility: hidden;
			width: 100%;
			box-sizing: border-box;
			padding-bottom: 74%;
			overflow: hidden;

			>img {
				display: block;
				width: 100%;
				height: auto;
			}

		}

		&-back {
			position: absolute;
			backface-visibility: hidden;
			display: block;
			width: 100%;
  		transform: rotateY(180deg);
			box-sizing: border-box;
			height: 0;
			padding-bottom: 74%;
			overflow: hidden;
			background-color: $bgyellow;
			>p {
color: #131316;
font-size: 20px;
text-transform: uppercase;
margin: 80px 0 0 80px;
			}

		}
	}
}