h1 {
	font-size: 40px;
	font-weight: 300;
	margin-bottom: 115px;
	@media screen and (max-width: 768px) {
		font-size: 30px;
		margin-bottom: 35px;

	}
}

.wrapper {
	max-width: 1920px;
	margin: 0 auto;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 10px;
}

.bg {
	&-white {
		background-color: $bgwhite;
	}
	&-yellow {
		background-color: $bgyellow;		
	}
	&-grey {
		background-color: $bggrey;		
	}
	&-lightgrey {
		background-color: $bglightgrey;		
	}
	&-black {
		background-color: $bgblack;		
	}
}

.block {
	padding: 120px 0;
	@media screen and (max-width: 768px) {
		padding: 60px 0;
	}

	&-fill-height {
		height: 100vh;
		display: table;
		width: 100%;
	}
	&-heading {
		font-size: 25px;
		margin-bottom: 34px;
	}
	&-description {
		font-size: 15px;
		margin-bottom: 120px;
		@media screen and (max-width: 768px) {
			margin-bottom: 30px;
		}
	}
	&-header {
		height: 1%;
		display: table-header-group;
	}
	&-body {
		display: table-row-group;
	}
	&-footer {
		display: table-footer-group;
	}
	&-inner {
		padding: 10px 0;
		display: table-cell;
		vertical-align: middle;
	}
	&-big-padding {
		padding: 250px 0;
		@media screen and (max-width: 768px) {
			padding: 90px 0;
		}
	}
	&-no-padding {
		padding: 0;
	}
	&-no-margin-bottom {
		margin-bottom: 0;		
	}
	&-margin-bottom-52 {
		margin-bottom: 52px;		
	}
}

.text {
	line-height: 1.8;
	&-center {
		text-align: center;		
	}
	&-uppercase {
		text-transform: uppercase;	
	}
	&-yellow {
		color: $textyellow;
	}
	&-black {
		color: $textblack;
	}
	&-white {
		color: $textwhite;
	}
	&-grey {
		color: $textgrey;
	}
	&-italic {
		font-style: italic;
	}
	&-normal {
		font-weight: 400;
	}
	&-light {
		font-weight: 300;
	}
}

.logo-sign-holder {
	width: 89px;
	margin: 0 auto 56px;
	@media screen and (max-width: 768px) {
		margin-bottom: 30px;
	}

	img {
		display: inline-block;
		width: 100%;
		height: auto;
	}
}

.arrow-down {
	width: 38px;
	margin: 0 auto;
	img {
		display: inline-block;
		width: 100%;
		height: auto;
		cursor: pointer;
	}
}

.features-holder {
	font-size: 0;
}

.feature {
	box-sizing: border-box;
	font-size: 1rem;
	width: 33.33%;
	@media screen and (max-width: 768px) {
		width: 100%;
		margin-bottom: 40px;
	}
	display: inline-block;
	vertical-align: top;
	padding: 0 50px;

	&-heading {
		clear: both;
		margin-bottom: 40px;
		@media screen and (max-width: 768px) {
			margin-bottom: 20px;
		}
		display: table;
	}

	&-number {
		float: left;
		color: $textyellow;
		border-right: 1px solid #ffe600;
		padding: 10px 15px 10px 0;
		font-size: 25px;
		margin-right: 15px;
	}

	&-title {
		display: table-cell;
		vertical-align: middle;
	}
}

.portfolio {
	&-holder {
		font-size: 0;
		overflow: hidden;
		margin-bottom: 30px;
		transition: .8s;
	}

	&-item {
		width: 100%;
		transform-style: preserve-3d;
		transition: all 0.5s linear;
		padding-bottom: 74%;

		&-holder {
			perspective: 1000;
			position: relative;
			z-index: 1;
			box-sizing: border-box;
			font-size: 1rem;
			display: inline-block;
			width: 25%;
			@media screen and (max-width: 768px) {
				width: 33.33%;
			}
			@media screen and (max-width: 480px) {
				width: 50%;
			}
			padding: 10px;

			&:hover .portfolio-item {
				transform: rotateY(180deg);
			}
		}


		&-front {
			position: absolute;
			backface-visibility: hidden;
			width: 100%;
			height: 0;
			padding-bottom: 74%;
			box-sizing: border-box;
			overflow: hidden;

			>img {
				display: block;
				width: 100%;
				height: auto;
			}

		}

		&-back {
			position: absolute;
			backface-visibility: hidden;
			width: 100%;
			height: 0;
			padding-bottom: 74%;
			box-sizing: border-box;
			overflow: hidden;
			transform: rotateY(180deg);
			background-color: $bgyellow;
			&-content {
				text-align: center;
				color: #131316;
				font-size: 20px;
				text-transform: uppercase;	
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

		}
	}

	&-more {

		&-text {
			margin-bottom: 30px;
		}

		&-button {
			width: 38px;
			margin: 0 auto;
			img {
				display: inline-block;
				width: 100%;
				height: auto;
				cursor: pointer;
			}
		}

	}

	&-less-button {
		width: 38px;
		margin: 0 auto;
		img {
			transform: rotate(180deg);
			display: inline-block;
			width: 100%;
			height: auto;
			cursor: pointer;
		}
	}
}

.hidden {
	display: none;
}

.clients-holder {
	font-size: 0;
}

.client {
	display: inline-block;
	width: 16.66%;
	@media screen and (max-width: 768px) {
		width: 33.33%;
		margin-bottom: 40px;
	}
	@media screen and (max-width: 480px) {
		width: 50%;
		margin-bottom: 40px;
	}
	text-align: center;
	vertical-align: bottom;
}