.form {
	border: none;
	background-color: #ffe600;
	width: 100%;
	color: white;
	padding: 20px;
	margin-bottom: 20px;
	font-size: 1rem;

	&-holder {
		max-width: 970px;
		margin: 0 auto;
		font-size: 0;
	}

	&-name, &-mail {
		width: calc(50% - 10px);
		display: inline-block;
	}

	&-name {
		margin-right: 20px;
	}
}