::-webkit-input-placeholder {
	color: #fff;
	font-size: 15px;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #fff;
	font-size: 15px;
}
:-ms-input-placeholder {
	color: #fff;
	font-size: 15px;
}
:-moz-placeholder { /* Firefox 18- */
	color: #fff;
	font-size: 15px;
}


.form {
	box-sizing: border-box;
	border: none;
	background-color: #ffe600;
	width: 100%;
	padding: 20px;
	font-size: 1rem;

	&-holder {
		max-width: 970px;
		margin: 0 auto;
		font-size: 0;
	}

	&-name {
		box-sizing: border-box;
		display: inline-block;
		width: 50%;
		padding-right: 10px;
		@media screen and (max-width: 480px) {
			display: block;
			width: 100%;
			padding-right: 0;
		}
		margin-bottom: 20px;
	}

	&-mail {
		box-sizing: border-box;
		display: inline-block;
		width: 50%;
		padding-left: 10px;
		@media screen and (max-width: 480px) {
			display: block;
			width: 100%;
			padding-left: 0;
		}
		margin-bottom: 20px;
	}

	&-subject {
		margin-bottom: 20px;
	}

	&-text {
		margin-bottom: 20px;
	}

	&-submit {

		background-color: #131316;
		color: $textyellow;
		font-size: 20px;
		text-transform: uppercase;
		cursor: pointer;
		transition: 0.3s;

		&:hover {
			color: $textwhite;
			background-color: $bggrey;
			transition: 0.3s;
		}
	}
}